In [1]:
# IMPORTING PANDAS
import pandas as pd

# IMPORTING NUMPY
import numpy as np

# IMPORTING MATPLOTLIB
import matplotlib.pyplot as plt

# IMPORTING SEABORN
import seaborn as sns

# CREATING INLINE FIGURES
%matplotlib inline

In [2]:
data = pd.read_csv('Datasets/Pre-Processed-Data.csv.')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   METALLOGEN         432 non-null    object
 1   LOCALITY           432 non-null    object
 2   STATE              432 non-null    object
 3   TOPOSHEET          432 non-null    object
 4   MINERAL_OR         432 non-null    object
 5   HOSTROCK_TYPE1     430 non-null    object
 6   HOSTROCK_TYPE2     430 non-null    object
 7   HOSTROCK_TYPE3     432 non-null    object
 8   HOSTROCK_TYPE4     432 non-null    object
 9   MORPH-STRATABOUND  432 non-null    int64
 10  MORPH-SEDIMENTARY  432 non-null    int64
 11  MORPH-BEDDED       432 non-null    int64
 12  MORPH-SHEAR        432 non-null    int64
 13  MORPH-CONCORDANT   432 non-null    int64
 14  MORPH-DISCORDANT   432 non-null    int64
 15  MORPH-LENSOID      432 non-null    int64
 16  MORPH-RESIDUAL     432 non-null    int64
 17  MORPH-VEIN         432 non-null    int64
 18  MORPH-REMOBILISED  432 non-null    int64
 19  MORPH-MAGMATIC     432 non-null    int64
 20  MORPH-QUARTZ       432 non-null    int64
 21  MORPH-VOLCANIC     432 non-null    int64
 22  MORPH-OTHER        432 non-null    int64
 23  RESERVE_AMT        432 non-null    float64
dtypes: float64(1), int64(14), object(9)
memory usage: 81.1+ KB

In [4]:
data.head()

,METALLOGEN,LOCALITY,STATE,TOPOSHEET,MINERAL_OR,HOSTROCK_TYPE1,HOSTROCK_TYPE2,HOSTROCK_TYPE3,HOSTROCK_TYPE4,MORPH-STRATABOUND,...,MORPH-DISCORDANT,MORPH-LENSOID,MORPH-RESIDUAL,MORPH-VEIN,MORPH-REMOBILISED,MORPH-MAGMATIC,MORPH-QUARTZ,MORPH-VOLCANIC,MORPH-OTHER,RESERVE_AMT
0,EASTERN GHAT BELT,BAGHDAPA,ORISSA,73 C,Be,PEGMATITE IN GRANULITE,-,-,-,0,...,0,0,1,0,0,0,0,0,0,38146.00
1,SARGIPALLI BELT,SARGIPALLI,ORISSA,64 N,Pb,GARNETIFEROUS MICA SCHIST,-,-,-,1,...,0,0,0,0,1,0,0,0,0,2.63
2,RORO-JOJOHATU BELT,"RORO,JOJOHATU",JHARKHAND,73,Cr,ULTRAMAFIC SUIT,-,-,-,0,...,0,0,0,0,0,1,0,0,0,123283.00
3,BONAI-NOAMUNDI-JAMDA BELT,ITAR-BALIJODI,ORISSA,73,Fe-Hematite,BHQ,SHALE INTERLAYERED WITH LAVA,-,-,0,...,0,0,0,0,0,0,0,1,0,3.00
4,BONAI-NOAMUNDI-JAMDA BELT,MERALGORA,JHARKHAND,73,Fe-Hematite,BHQ,SHALE,BHQ,-,0,...,0,0,0,0,0,0,0,1,0,1.50

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
LE = LabelEncoder()
data['METALLOGEN'] = LE.fit_transform(data['METALLOGEN'])
data['LOCALITY'] = LE.fit_transform(data['LOCALITY'])
data['STATE'] =  LE.fit_transform(data['STATE'])
data['TOPOSHEET'] = LE.fit_transform(data['TOPOSHEET'])
data['HOSTROCK_TYPE1'] = LE.fit_transform(data['HOSTROCK_TYPE1'])
data['HOSTROCK_TYPE2'] = LE.fit_transform(data['HOSTROCK_TYPE2'])
data['HOSTROCK_TYPE3'] = LE.fit_transform(data['HOSTROCK_TYPE3'])
data['HOSTROCK_TYPE4'] = LE.fit_transform(data['HOSTROCK_TYPE4'])

In [8]:
data.head()

,METALLOGEN,LOCALITY,STATE,TOPOSHEET,MINERAL_OR,HOSTROCK_TYPE1,HOSTROCK_TYPE2,HOSTROCK_TYPE3,HOSTROCK_TYPE4,MORPH-STRATABOUND,...,MORPH-DISCORDANT,MORPH-LENSOID,MORPH-RESIDUAL,MORPH-VEIN,MORPH-REMOBILISED,MORPH-MAGMATIC,MORPH-QUARTZ,MORPH-VOLCANIC,MORPH-OTHER,RESERVE_AMT
0,32,21,9,59,Be,82,0,0,0,0,...,0,0,1,0,0,0,0,0,0,38146.00
1,94,256,9,43,Pb,50,0,0,0,1,...,0,0,0,0,1,0,0,0,0,2.63
2,85,247,4,57,Cr,122,0,0,0,0,...,0,0,0,0,0,1,0,0,0,123283.00
3,23,135,9,57,Fe-Hematite,10,63,0,0,0,...,0,0,0,0,0,0,0,1,0,3.00
4,23,204,4,57,Fe-Hematite,10,62,7,0,0,...,0,0,0,0,0,0,0,1,0,1.50

In [14]:
len(data)

432

In [9]:
# BALANCING THE DATA FOR CLASSIFICATION
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
print(Counter(data["MINERAL_OR"]))

Counter({'Fe-Hematite': 79, 'Cu': 70, 'Au': 60, 'Al-Bauxite': 43, 'Pb-Zn': 34, 'Mn': 28, 'Mn-Fe': 13, 'Cr': 12, 'Fe-Ti-V': 9, 'Be-Nb-Ta': 8, 'Cu-Pb': 7, 'Cu-Zn': 7, 'Fe-Magnetite': 6, 'WO3': 5, 'Pb-Zn-Cu': 5, 'Pb-Zn-Ag': 4, 'Fe-Hematite-Mn': 3, 'Cu-Pb-Zn': 3, 'Au-W': 3, 'Au-Cu': 3, 'Pb': 2, 'Nb-Ta-Li-Sn': 2, 'Au-Mo': 2, 'Cu-Pb-Ba': 2, 'Cu-U': 2, 'Zn': 2, 'Au-Cu-Zn': 2, 'Cu-Pb-Zn-Sb-Py': 2, 'Be': 1, 'Cr-PGE': 1, 'U': 1, 'Cs': 1, 'Nb-Ta': 1, 'Cu-Ni': 1, 'Mo-U-Cu': 1, 'Cu-Co': 1, 'Cu-Mo-Au': 1, 'Au-Ag-Cu-Pb-Zn': 1, 'Ma': 1, 'Mo': 1, 'Cu-Fe-Ti-V': 1, 'Ba': 1})

In [10]:
ros=RandomOverSampler()
X,Y=ros.fit_resample(data.drop("RESERVE_AMT",axis=1),data["MINERAL_OR"])
print(Counter(Y))

Counter({'Be': 79, 'Pb': 79, 'Cr': 79, 'Fe-Hematite': 79, 'Mn': 79, 'Fe-Hematite-Mn': 79, 'Mn-Fe': 79, 'Cu': 79, 'Cr-PGE': 79, 'Al-Bauxite': 79, 'Nb-Ta-Li-Sn': 79, 'Be-Nb-Ta': 79, 'Fe-Ti-V': 79, 'Au': 79, 'Au-Mo': 79, 'Cu-Pb': 79, 'Cu-Pb-Ba': 79, 'Pb-Zn': 79, 'U': 79, 'Cu-Pb-Zn': 79, 'Cu-U': 79, 'Cs': 79, 'Nb-Ta': 79, 'Au-W': 79, 'WO3': 79, 'Zn': 79, 'Au-Cu': 79, 'Cu-Ni': 79, 'Pb-Zn-Cu': 79, 'Cu-Zn': 79, 'Au-Cu-Zn': 79, 'Pb-Zn-Ag': 79, 'Mo-U-Cu': 79, 'Cu-Co': 79, 'Cu-Mo-Au': 79, 'Au-Ag-Cu-Pb-Zn': 79, 'Fe-Magnetite': 79, 'Ma': 79, 'Mo': 79, 'Cu-Fe-Ti-V': 79, 'Ba': 79, 'Cu-Pb-Zn-Sb-Py': 79})

In [11]:
len(X)

3318

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
# CLASSIFICATION MOD

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.05, random_state=42)